#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav-link.active {
  font-weight: bold;
}

.admin-page {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-page select {
  height: 40px;
}

.admin-page textarea {
  padding: 5px 10px;
}
